<!--category.vtl-->
#if ($team)
  <h1>$team.getName() members:</h1>
  <ul>
    #foreach($member in $team.getTeamMembers())
    <li>$member.getMemberName()</li>
   #end
  </ul>
#else
  <em><p>Oops! We can't seem to find that team.</p></em>
#end

<a href="/categories/$team.getID()/members/new">Add a new member</a>
<a href="/teams">All teams</a>
<!--team.vtl-->
